body {
	margin: 0 auto;
	background-image: url("images/stars.gif");
	background-repeat: repeat;
}

@import url('https://fonts.googleapis.com/css?family=Lato');

.ghost1 {
	width: 150px;
	height: 150px;
}

.ghost2 {
	width: 500px;
	height: 500px;
}

.ghost3 {
	width: 200px;
	height: 250px;
}

.aStory {
	width: 300px;
	height: 50px;
	border: none;
	background-color: #390651;
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	color: #FFFFFF;
	opacity: .7;
}

.aStory:hover {
	transition: 1s;
	background-color: #C69024;
	opacity: 1;
}

#house {
	margin: 20px;
	width: 1200px;
	height: 650px;
	background-image: url("images/bg1.jpg");
	background-repeat: no-repeat;
	position: relative;
}

#firstGhost {
	position: absolute;
}

#secondGhost {
	position: absolute;
}

#thirdGhost {
	position: absolute;
}

