body {
	margin: 0 auto;
	background-image: url("images/stars.gif");
	background-repeat: repeat;
}

@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Lato');

h1 {
	color: #C69024;
	display: block;
	text-align: center;
	font-size: 40px;
	font-family: 'Gloria Hallelujah', cursive;
}

a {
	color: #ad741f;
	text-decoration: none;
}

a:hover {
	color: #e89519;
}

.story {
	width: 300px;
	height: 50px;
	border: none;
	background-color: #390651;
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	color: #FFFFFF;
	opacity: .7;
}

.story:hover {
	transition: 1s;
	background-color: #C69024;
	opacity: 1;
}

#house {
	margin: auto;
	margin-bottom: 80px;
	width: 1200px;
	height: 650px;
	background-image: url("images/bg1.jpg");
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}

#firstGhost {
	display: none;
	top: 100px;
	position: absolute;
}

#secondGhost {
	display: none;
	position: absolute;
}

#thirdGhost {
	display: none;
	position: absolute;
}

#icecream1, #icecream3 {
	display: none;
	top: 100px;
	left: 900px;
	position: absolute;
}

#icecream2 {
	display: none;
	top: 100px;
	left: 950px;
	position: absolute;
}

#ic1 {
	width: 200px;
	height: 300px;
}

#ic2 {
	width: 100px;
	height: 250px;
}

#ic3 {
	width: 200px;
	height: 300px;
}

#cat {
	display: none;
	top: 300px;
	position: absolute;
}

#fan {
	display: none;
	top: 400px;
	left: 200px;
	position: absolute;
}

#continue {
	display: none;
}
